
/* 
    Created on : 29.03.2018, 23:54:40
    Author     : Chrissi
*/

body{
	font-size: 100%;
	background: #e6ffb3;
}

.header-wrap{
	
    top:0;
    width: 100%;
    height:5vh;
    background-color: seagreen;
	
    
    border-color: whitesmoke;
    border-radius: 10px;
        
    text-align: center;
    color: white;   
}
#header-row{
	vertical-align: center;
}

.tab-button{
	width: 20vw;
	
	margin-left: 10px;
	margin-right: 10px;
	
	padding-left: 2vw;
	padding-left: 2vw;
	
	font-size: 3vh;
	
	text-align: center;
}

.tab-button:hover{
	background-color: beige;
	border-radius: 0px 0px 5px 5px;
	color: black;
	text-decoration: underline;
	
	cursor: hand;
}

.site-wrap{
}

.filetransfer-wrap{
	display:none;
	position:absolute;
	left: 50vw;
	top: 50vh;
}

.output-wrap{	
	height: 70vh;
	width: 100%;
    
    background: #aeebcc;
	overflow: auto;
}

.content-wrap{
    margin-top: 1vh;
	
	padding-top: 1vh;
	padding-left: 1vw;
    
    border-style: solid;
    border-color: black;
    border-radius: 10px; 
	
	background-color:#e6ffb3;
}

.input-wrap{
    width: 100%;
    overflow: none;
    bottom: 0;
	position: fixed;    
    
    background:#7bc19d;
    
    border-style: solid;
    border-color: black;
    border-radius: 10px;    
    
    border-bottom: none;
}

.content-name{
	font-weight: bold;
}

.content-message{
	margin: 10px;
}

.content-time{
	font-size: 80%;
}

#messageArea{
    
}

.event{
	border-color: red;
}

#messageName,#submitButton,#messageArea,#refreshButton{
    display: block;
    text-align: center;
    position: relative;
	
	font-size: 5vh;
    
    height: 10vh;
    width:100%;
    padding: 5px;
    margin-bottom: 5px;
    
    outline: none !important;
    border: 1px solid black;
    box-shadow: 0 0 10px;
    
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.nameButton-wrap, .nameInput-wrap, .message-wrap, .submitButton-wrap, .refreshButton-wrap{
    position: relative;
    margin: 5px;
    margin-bottom: 10px;
    padding:0;
    
    vertical-align:middle;
    display: inline-block;
    bottom:0;
    
}

.content-wrap:hover{
	background: white;
}

#messageName{
    width:15vw;
}

#messageArea{
    width:50vw;
    
    text-align: left;
}

#submitButton, #refreshButton{
    font-weight: bold;
    width: 10vw;
}

#messageArea, #messageName{
    background-color:#f5f2e5;
    padding:10px;
}

#submitButton, #changeNameButton, #refreshButton{
    background-color: #003300;
    color: #dbe6e4;
}

#submitButton:hover, #changeNameButton:hover, #refreshButton:hover{
    background-color: #00cc66;
    color: #003300;
}

#submitButton:active, #changeNameButton:active, #refreshButton:hover{
    background-color: #00cc66;
    color: #003300;
}

/*
	Manual Stuff
*/

#manuals-tab{
	display: none;
}
.manuals-wrap{
	display: block;
	overflow:auto;
}

.manual-elem{
				text-decoration:none;
				color: black;
				
				display:block;
				margin:10px;
				padding: 10px;
				
				border-color: black;
				border-style: solid;
				border-radius: 10px;
			}
			
			.manual-elem:hover{
				background: white;
			}
			
			.manual-elem-icon{
				width: 5vw;
				vertical-align: middle;
			}
			
			.manual-elem-text{
				margin-left: 5px;
				font-size: 3.5vw;
				vertical-align: middle;
			}
			
/*
New Event Stuff
*/

#newEvent-tab{
	display:none;
	border-color: red;
	border-radius: 5px;
	border-style: solid;
	
	padding: 10px;
	
}
