
/* 
    Created on : 29.03.2018, 23:54:40
    Author     : Chrissi
*/

body{
    background: #aeebcc;
	font-size: 150%;
}

.header-wrap{
    position: fixed;
    top:0;
    width: 100%;
    height:15vh;
    overflow: none;
	font-size: 12vh;
    background-color: seagreen;
    
    border-color: whitesmoke;
    border-radius: 10px;
        
    text-align: center;
    color: white;   
}

.site-wrap{
    
    background: black;
}

.output-wrap{
    margin-top: 10vw;
    margin-bottom:10vw;
    
    background: #aeebcc;
}

.post-wrap{    
    overflow-x: none;
      
    margin-top: 1vw;
    padding: 20px;
    
    border-style: solid;
    border-color: black;
    border-radius: 10px; 
	
	background-color:#e6ffb3;
}

.input-wrap{   
    position: fixed;
    width: 100%;
    overflow: none;
    bottom: 0;
    
    
    background:#7bc19d;
    
    border-style: solid;
    border-color: black;
    border-radius: 10px;    
    
    border-bottom: none;
}

.name-post{
	font-weight: bold;
}

.message-post{
	margin: 10px;
}

.time-post{
	font-size: 80%;
}

#messageArea{
    
}

.event{
	border-color: red;
}

#changeNameButton,#messageName,#submitButton,#messageArea,#refreshButton{
    display: block;
    text-align: center;
    position: relative;
	
	font-size: 5vh;
    
    height: 10vh;
    width:100%;
    padding: 5px;
    margin-bottom: 5px;
    
    outline: none !important;
    border: 1px solid black;
    box-shadow: 0 0 10px;
    
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.nameButton-wrap, .nameInput-wrap, .message-wrap, .submitButton-wrap, .refreshButton-wrap{
    position: relative;
    margin: 5px;
    margin-bottom: 10px;
    padding:0;
    
    vertical-align:middle;
    display: inline-block;
    bottom:0;
    
}

.post-wrap:hover{
	background: white;
}

#messageName{
    width:15vw;
}

#messageArea{
    width:50vw;
    
    text-align: left;
}

#submitButton, #refreshButton{
    font-weight: bold;
    width: 10vw;
}

#messageArea, #messageName{
    background-color:#f5f2e5;
    padding:10px;
}

#submitButton, #changeNameButton, #refreshButton{
    background-color: #003300;
    color: #dbe6e4;
}

#submitButton:hover, #changeNameButton:hover, #refreshButton:hover{
    background-color: #00cc66;
    color: #003300;
}

#submitButton:active, #changeNameButton:active, #refreshButton:hover{
    background-color: #00cc66;
    color: #003300;
}